@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

// * {
//   box-sizing: border-box;
// }

// a {
//   color: #0070f3;
//   text-decoration: none;
// }

// a:hover {
//   text-decoration: underline;
// }

// img {
//   max-width: 100%;
//   display: block;
// }
